#transport .search {
  height: 15vh;
  overflow: none;
  margin-right: 10px;
  width: 100%;
  // background-color: #ccc;
  border-radius: 5px;
}

#transport .search  mat-icon{
  color: #666;
}

#transport .transports {
  white-space: nowrap;
  overflow: hidden;
  height: 60vh;
}

#transport .transports-map {
  width: 435px;
  padding: 0 5px 5px 0;
}

#transport .transports:hover {
  overflow: overlay;
}

#transport .transport:hover {
  background: #f5f5f5;
  cursor: pointer
}

#transport .transport {
  height: 30px;
  overflow: hidden;
}

#transport .transport.active {
  background: #e0e0e0;
}

#transport .preview {
  margin: -4px;
}

#transport .img {
  background-size: cover;
  margin-top: -9px;
  margin-right: 15px;
}

#transport .img.img-onibus {
  background-image: url('../../assets/img/icone2.jpg');
  border-bottom: 5px solid blue;
}

#transport .img.img-lotacao {
  background-image: url('../../assets/img/icone2.jpg');
  border-bottom: 5px solid red;
}

#transport #subtitle {
  height: 14vh;
}

#map {
  background-color: #666;
  width: 100%;
  height: 100vh;
}
