<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly center">
  <section id="transport" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between stretch">

    <article class="search" fxLayout="column" fxLayoutAlign="space-between" style="width: 435px">
      <div>
        <mat-button-toggle-group fxLayout="row" fxLayoutAlign="space-around" (change)="changeTransport($event)">
          <mat-button-toggle style="width: 100%;" checked value="o">Ônibus</mat-button-toggle>
          <mat-button-toggle style="width: 100%;" value="l">Lotação</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Pesquisar por nome</mat-label>
        <input type="search" (input)="changeSearch($event)" matInput placeholder="Ex. Circular Centro">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </article>

    <article class="transports">
      <div *ngIf="!applyingFilter && transports?.length">
        <div *ngFor="let transport of transports" class="transports-map">
          <mat-card (click)="setItinerary(transport.id)" [class]="'transport ' + isActive(transport.id)">
            <div fxLayout="row" matTooltip={{transport.nome}}>
              <div mat-card-avatar [class]="'img ' + getImgStyle()"></div>
              <div fxLayout="column" class="preview">
                <mat-card-title>{{transport.nome}}</mat-card-title>
                <mat-card-subtitle>
                  Linha: {{transport.codigo.split('-')[0]}}
                  &nbsp;&nbsp;&nbsp;
                  Sentido {{transport.codigo.split('-')[1]}}
                </mat-card-subtitle>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <div *ngIf="!applyingFilter && !transports?.length">
        <h1>
          Nenhum dado encontrado
        </h1>
      </div>

    </article>

    <article #Subtitle style="width: 435px; ">
      <mat-card id="subtitle">
        <div fxLayout="column">
          <div>
            <mat-card-title>Sentido 1:</mat-card-title>
            <mat-card-subtitle>
              Bairro-Terminal | Bairro-Centro | Norte-Leste | Norte-Sul | Circular
            </mat-card-subtitle>
          </div>
          <div>
            <mat-card-title>Sentido 2:</mat-card-title>
            <mat-card-subtitle>
              Terminal-Bairro | Centro-Bairro | Leste-Norte | Sul-Norte
            </mat-card-subtitle>
          </div>
        </div>
      </mat-card>
    </article>

  </section>

  <section id="map" #Map>
    <div id="itinerary">
      <itinerario [transportSelected]="transportSelected"></itinerario>
    </div>
  </section>
</div>
